# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Flask
instance/
.webassets-cache

# Environment
.env
.venv
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Migrations (if you add Flask-Migrate later)
migrations/
